In [1]:
import scipy as sp
import pandas as pd

In [2]:
shoes = pd.DataFrame(
    {'store': ['tokyo', 'tokyo', 'osaka', 'osaka'],
     'color': ['blue', 'red', 'blue', 'red'],
     'sales': [10, 15, 13, 9]}
)
shoes

  color  sales  store
0  blue     10  tokyo
1   red     15  tokyo
2  blue     13  osaka
3   red      9  osaka

In [3]:
cross = pd.pivot_table(
    data=shoes,
    values='sales',
    aggfunc='sum',
    index='store',
    columns='color'
)
cross

color  blue  red
store
osaka    13    9
tokyo    10   15